@import "./base.css";

html {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff) scroll;
    background-size: 100% 100%;
}
body {
    cursor: url("/cursor.cur"), auto;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background-color 0.3s ease;
    pointer-events: none;
    z-index: 9999;
}
mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: transparent;
    background: linear-gradient(90deg, #ffff45 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}
a {
    color: #023100;
    text-decoration: underline;
}

@-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
}

@keyframes highlight {
    to {
        background-position: 0 0;
    }
}